@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.recipe-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #706643;
    padding: 7px;
    -webkit-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.62); 
box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.62);
}

.recipe-box h1 {
    font-family: 'Open Sans', sans-serif;
    color: #f3dd63;
    text-align: center;
}

.recipe-box img {
    border-radius: 7px;
}

.recipe-box button {
    border-radius: 7px;
    border: none;
}