.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navbar h1 {
    color: #2C752C;
    text-shadow: -4px 4px 8px #FFB912;
    font-size: 30px;
}

.navbar a {
    text-decoration: none;
}

.menu-icon {
    height: 25px;
    width: 25px;
    color: black;
}

.menu-icon.close {
    height: 40px;
    width: 40px;
    margin-top: 40px;
}

.nav-menu {
    background-color: #8f0029f2;
    right: -100%;
    transition: 850ms;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 100%;
    top: 0;
}

.nav-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-menu.active {
    right: 0;
    transition: 350ms;
}

ul {
    list-style-type: none;
}

.nav-text-cont {
    margin-top: 40px;
}

.nav-text {
    font-size: 25px;
}