@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: antiquewhite;
  font-family: 'Pushster', cursive;
}

@media screen and (min-width: 320px ) and ( max-width: 374px ) {
    
  .App {
    margin: 0 10px;
  }

  .section {
    position: relative;
    margin-bottom: 250px;
  }

  .intro-sec img {
    top: 154px;
    left: 115px;
    width: 190px;
    position: absolute;
  }

  .descript-sec img {
    top: 135px;
    width: 220px;
    position: absolute;
  }

  .garlic-img {
    height: auto;
    object-fit: cover;
    width: 200px;
  }

  .icn-cont {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .recipe-box {
    margin-top: 60px;
    height: 350px;
    padding: 0px 20px;
  }

  .recipe-box {
    width: 250px;
  }

  .recipe-box img {
    width: 250px;
    margin-bottom: 10px;
  }

  .recipe-box h1 {
    font-size: 20px;
  }

  .recipe-box button {
    height: 30px;
    width: 100px;
  }

  .main-recipes {
    align-items: center;
  }
}

@media screen and (min-width: 375px ) and ( max-width: 425px ) {

    .App {
      margin: 0 10px;
    }
  
  .section {
    position: relative;
    margin-bottom: 250px;
  }

  .intro-sec img {
    top: 125px;
    left: 115px;
    position: absolute;
    width: 220px;
  }

  .descript-sec img {
    top: 100px;
    position: absolute;
    width: 220px;
  }
  
  .recipe-box {
    width: 265px;
    padding: 15px;
    margin-top: 80px;
    padding: 30px;
  }

  .recipe-box h1 {
    font-size: 30px;
  }

  .recipe-box img {
    height: 205px;
    margin: 20px;
    margin: 10px 0px;
  }

  .recipe-box button {
    height: 40px;
    width: 110px;
  }

  .main-recipes {
    align-items: center;
  }
}

@media screen and (min-width: 426px ) and ( max-width: 767px ) {

  .App {
      margin: 0 10px;
  }
  
  .section {
    position: relative;
  }

  .section p {
    margin-bottom: 280px;
  }

  .intro-sec img {
    width: 238px;
    top: 130px;
    left: 120px;
    position: absolute;
  }

  .descript-sec img {
    position: absolute;
    width: 220px;
    top: 100px;
    left: 12px;
  }

  .artcl-review {
    padding: 30px;
  }

  form h3 {
    font-size: 25px;
  }

  form label {
    font-size: 20px;
  }

  .recipe-box {
    width: 370px;
    padding: 10px;
    margin-top: 50px;
  }

  .recipe-box img {
    margin-bottom: 10px;
  }

  .recipe-box button {
    height: 40px;
    width: 100px;
  }

  .main-recipes {
      align-items: center;
  }
}

@media screen and (min-width: 768px ) and ( max-width: 1023px ) {
  .navbar {
    margin: 0px 30px;
  }

  .navbar h1 {
    font-size: 50px;
  }

  .menu-icon {
    height: 35px;
    width: 35px;
  }
  
  .home {
    margin: 0px 30px;
  }

  .section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
  }

  .section p {
    width: 50%;
  }

  .descript-sec p {
    order: 2;
  }
    
  .intro-sec img {
    height: 300px;
  }

  .descript-sec img {
    height: 250px;
    order: 1;
  }

  .footer h2 {
    font-size: 35px;
  }

  .icon {
    font-size: 35px;
  }

  form {
    margin: 0 30px;
  }

  form h3 {
    font-size: 30px;
  }

  .diet-section label,
  .cuisine-section label {
    font-size: 25px;
  }

  .input-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-cont button {
    height: 40px;
    width: 100px;
  }

  .input-cont input {
    width: 170px;
    height: 34px;
  }

  .recipe-box {
    width: 70%;
    margin: 50px 0;
    padding: 20px;
  }

  .main-recipes {
      align-items: center;
  }
}

@media screen and (min-width: 1024px ) and ( max-width: 1440px ) {

    .App {
        margin: 0 80px;
    }

    .navbar h1 {
        font-size: 50px;
    }

    .menu-icon {
        height: 40px;
        width: 40px;
    }

    .section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 200px;
    }

    .section p {
        font-size: 28px;
        line-height: 50px;
        display: flex;
        width: 700px;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home-img {
        width: 350px;
    }

    .descript-sec p {
        order: 2;
    }

    .input-cont button {
        width: 100px;
    }

    .input-cont input {
        width: 300px;
    }

    .main-recipes {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;
        grid-column-gap: 30px;
        grid-row-gap: 45px;
    }

    .recipe-box {
        padding: 10px;
    }

    .recipe-box h1 {
        margin-bottom: 10px;
    }

    .recipe-box img {
        height: 200px;
        margin-bottom: 10px;
    }

    .recipe-box button {
        width: 100px;
        padding: 10px;
    }
}